*{
    box-sizing: border-box;
}
/*Create a display*/
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*Position timer*/
.timer {
    float: right;
    display: inline-block;
}

.points {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.points:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/*Inline highscores and timer*/
.timer,
.points {
    display: inline-block;
    color: purple;
    margin: 20px 
}

main {
    display: block;
}

/*Set text location*/
.welcome {
    text-align: center;
}

/*Button location*/
.startBtn {
    display: flex;
    cursor: pointer;
    padding: 15px 40px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: purple;
    color: white;
}

/*Paragraph location*/
.description {
    text-align: center;
    display: flex;
    padding: 10px 250px;
}

.quiz {
    display: none;
}

section.show {
    display: block;
    text-align: center;
}

.questions {
    text-align: center;
}

main.hide {
    display: none;
}

section.hide {
    display: none;
}

h3 {
    text-align: center;
}

div.choices {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

button.choices {
    display: list-item;
    background-color: purple;
    color: white;
    border: none;
}


section.dont-display {
    display: none;
}

section.display {
    display: in-line-block;
}
.highScorePage {
    display: block;
}